.sidebar-elem-nonactive {
    color: #626262;
    font-size: 14px;
    padding: 5px 0;
    font-weight: 400;
    margin: 0 0 0 10px;
    cursor: pointer;
    width:150%;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar-elem-nonactive:hover {
    color: #626262;
    text-decoration: underline;
}

.sidebar-elem-active {
    color: #3168a6;
    font-weight: 700px;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    background: lightgrey;
    border-left: 2px solid grey;
    overflow: hidden;
    white-space: nowrap;
}

.div-elem-active {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.div-elem-nonactive {
    margin-bottom: 20px;
}

