.sidebar-header {
    font-family: "Titillium Web",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-top: 16px !important;
    margin-bottom: 0;
    color: #0a304e;
    line-height: 1.1;
    cursor: pointer;
}

.sidebar-header:hover {
    color: #0a304e; 
    text-decoration: underline;
}

.page-sidebar-menu {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

