.dept-container {
    background-color: rgb(10, 48, 78);
    height: 105px;
    margin-top:0px;
}
.custom-margin {
    margin-bottom: 0;
}

.dept-head {
    color: #fff;
    font-size: 40px;
    font-weight: 200;
    margin: 0px;
    padding: 0;
    line-height: 1.1;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.search-div {
    position: relative;
}

.input-search {
    border-radius: 30px;
    color: #626262;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.magnifying-glass {
    position: absolute;
    left: 80%;
    top: 10%;
    z-index: 999;
    cursor: pointer;
}