.dept-container {
    background-color: rgb(10, 48, 78);
    height: 105px;
    margin-top:0px;
}
.custom-margin {
    margin-bottom: 0;
}

.dept-head {
    color: #fff;
    font-weight: 50;
    font-size: 40px; 
    font-family: "Titillium Web",sans-serif;
    line-height: 1.1;
}

.search-div {
    position: relative;
}

.input-search {
    border-radius: 30px;
    color: #626262;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.magnifying-glass {
    position: absolute;
    left: 85%;
    top: 20%;
    z-index: 999;
    cursor: pointer;
}